:host{
  height: 97vh;
  display: flex;
   flex-direction: column;
   justify-content: start;
 align-items: center;
}


.messages{
  display: flex;
  flex-direction: column;
  height: 90vh;
  flex: 7 1 auto;
  width: 100%;
  overflow-y: scroll;
}

.sender{
  padding: 4px;
  background-color: #3f51b5 ;
  height: 10vh;
  width: 100%;
  flex-wrap: 1 5 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.message-item{

  padding: 1rem;
  width: max-content;
  margin: 1rem;
  background-color: #cfe9ed;
  font-size: xx-large;
  border-radius: 1rem;


}
